<!DOCTYPE html>
<html class=" " lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" charset="utf-8"/>
    <!-- Font Awesome -->
    <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="/siofu/client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/theme.css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8"/>
    {{{styles}}}
    <meta charset="utf-8">
    <title>Epam Dashboard</title>
</head>
<body class="nav-md">
    <div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title"><i class="fa fa-group"></i> <span>TimeTracker</span></a>
        </div>

        <div class="clearfix"></div>

        
        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/">Load Files</a></li>
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/database">Database</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                EPAM DASHBOARD
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">

      {{{body}}}

    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/moment.min.js" charset="utf-8"></script>
<script src="/js/bootstrap.js" charset="utf-8"></script>
<script src="js/theme.js"></script>

{{{scripts}}}

</body>
</html>