<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	  <div class="dashboard_graph">

	    <div class="row x_title">
	      <div class="col-md-6">
	        <h3>Employees <small>Select one</small></h3>
	      </div>
	      <div class="col-md-6">
	      </div>
	    </div>

	    <div class="row">
	    	<div class="col-md-12">
	    		<my-app [table]="employee">Loading...</my-app>
	    		{{{error}}}
	    	</div>

	    </div>
	    
	    <div class="clearfix"></div>
	  </div>
	</div>

</div>
<br />	

<script>
var app = app || {};
app.database = {};

//Object for Angular
app.myapp = {};
app.myapp.data = {{{data}}};
</script>

<!-- ANGULAR 2 Libraries -->
<!-- 1. Load libraries -->
<!-- IE required polyfill -->
<script src="https://npmcdn.com/core-js/client/shim.min.js"></script>

<script src="https://npmcdn.com/zone.js@0.6.12?main=browser"></script>
<script src="https://npmcdn.com/reflect-metadata@0.1.3"></script>


<script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
<script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
<script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
<script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
<script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
<script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
<script src="https://unpkg.com/@angular/forms@2.0.1/bundles/forms.umd.min.js"></script>
<script src="https://unpkg.com/@angular/http@2.0.1/bundles/http.umd.min.js"></script>