
<div class="container"> 
    <div class="row" id="step1">

    	<div class="col-md-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
				<div class="panel-body">
					<div class="input-group file-container">
						<input placeholder="" type="text" class="form-control input-filename" disabled="disabled">
						<!-- don't give a name === doesn't send on POST/GET --> 
						<span class="input-group-btn"> 
							<div class="btn btn-default file-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="file-input-title">Browse</span>
								<input type="file" name="input-file"  id="upload_input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
								<!-- rename it --> 
							</div>
							<button type="button" class="btn btn-labeled btn-default" id="upload_btn"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
						</span> 
					</div>
					<br />

					<!-- Drop Zone -->
					<div class="upload-drop-zone" id="file_drop"> Or drag and drop files here </div>
					<br />
					<!-- Progress Bar -->
					<div id="progress" class="progress">
						<div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<br />
					<!-- Upload Finished -->
					<div id="upload-files" class="upload-finished">
						<h4>Files Uploaded</h4>
						<div id="upload-files-list" class="list-group"></div> 
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="step2">
		<div class="col-md-12 col-xs-12">
			<div id="btnDashboard" class="hidden wrapper-error" class="list-group-item list-group-item-danger"><a href="/dashboard" class="btn btn-primary">View Dashboard</a></div>
			<div id="process-files">
				<div id="process-files-list" class="list-group"></div>
			</div>
			<div id="result" class="">
			</div>
			
		</div>
        
	</div>
</div>

<!-- /container --> 